<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangxianglin.blog.mapper.AdminMapper">
    <resultMap id="adminVOMap" type="adminVO">
        <id column="adminId" property="adminId"/>
        <result column="adminName" property="adminName"/>
        <result column="adminPassword" property="adminPassword"/>
        <result column="email" property="email"/>
        <result column="identifier" property="identifier"/>
    </resultMap>


    <select id="login" resultMap="adminVOMap">
        SELECT
            adminId,
            adminName,
            adminPassword,
            email
        FROM
            admin
        WHERE
            adminName=#{adminName} and adminPassword=#{adminPassword}
    </select>

    <!--通过邮箱找到账号密码然后登录-->
    <select id="loginByEmail" resultMap="adminVOMap">
        SELECT
            adminId,
            adminName,
            adminPassword,
            email
        FROM
            admin
        WHERE
            email=#{email}
    </select>
</mapper>
