<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangxianglin.blog.mapper.MailMapper">
    <!--<resultMap id="MessageMap" type="messageDTO">
        <result column="name" property="name"/>
        <result column="contract" property="contract"/>
        <result column="message" property="message"/>
    </resultMap>-->
    <!--where标签的作用:如果里面有成立的话,会添加一个where关键字并且会删除掉where 后面的第一个and 或者  or关键子-->

    <insert id="InsertMailMessage" parameterType="mailMessage">
        insert into message(name,contact,message) values(#{name},#{contact},#{message})
    </insert>



</mapper>
